CMakeCache.txt
CMakeFiles
CPackConfig.cmake
_CPack_Packages
CPackSourceConfig.cmake
CTestTestfile.cmake
Makefile
cmake_install.cmake
install_manifest.txt
perceptualdiff
Testing
PerceptualDiff-*
lcov.info
lcov_tmp.info
coverage_output
.*.swp
.project

